<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.porn.mapper.KpnSiteActorMapper">

    <select id="getActorListByFavorites" resultType="java.lang.Long">
        select a.actor_id, ifnull(b.favorites, 0) actor_favorites
        from (select distinct actor_id from kpn_site_movie where site_id = #{sid}) a
                 left join kpn_site_actor b on b.actor_id = a.actor_id
        order by b.favorites ${sortOrder}
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getActorListByCreateTime" resultType="java.lang.Long">
        select distinct actor_id
        from kpn_site_movie
        where site_id = #{sid}
        order by actor_create_time ${sortOrder}
        limit #{startIndex}, #{pageSize}
    </select>
</mapper>