<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.KpnActorMapper">
    <select id="findList" resultType="com.central.backend.model.vo.KpnActorVO">
        select * from kpn_actor a
        LEFT JOIN
            <if test="headquarters == null || headquarters == '' || headquarters == '1'">
                (SELECT m.actor_id,sum(m.vv) as vv,sum(m.favorites) as favorites,count(m.id) as total FROM kpn_movie m WHERE m.status='1' GROUP BY m.actor_id) s
            </if>
            <if test="headquarters != null and  headquarters != '' and  headquarters == '0'">
                    (SELECT m.actor_id,sum(sm.vv) as vv,sum(sm.favorites) as favorites,count(sm.id) as total FROM kpn_site_movie sm LEFT JOIN kpn_movie m ON sm.movie_id= m.id WHERE sm.status='1' and sm.site_id = #{siteId} GROUP BY m.actor_id) s
            </if>
            ON a.id=s.actor_id
        <where>
            1=1
            <if test="id != null and  id != '' and  id != '0'">
                and a.id = #{id}
            </if>
            <if test="nameZh != null and  nameZh != ''">
                and a.name_zh LIKE CONCAT('%',#{nameZh},'%')
            </if>
            <if test="nameEn != null and  nameEn != ''">
                and a.name_en LIKE CONCAT('%',#{nameEn},'%')
            </if>
            <if test="nameKh != null and  nameKh != ''">
                and a.name_kh LIKE CONCAT('%',#{nameKh},'%')
            </if>
            <if test="startTime!=null and  startTime != ''">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]>DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime!=null and  endTime != ''">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ <= ]]>DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s')
            </if>

        </where>
    </select>
</mapper>