<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.KpnTagMapper">
    <select id="findList" resultType="com.central.backend.model.vo.KpnTagVO">
        select * from kpn_tag t
        LEFT JOIN
        <if test="p.headquarters != null and  p.headquarters != '' and  p.headquarters == 1">
            (SELECT mt.tag_id,count(mt.movie_id),sum(m.vv) as vv FROM kpn_movie_tag mt LEFT JOIN kpn_movie m ON mt.movie_id= m.id WHERE m.status='1' GROUP BY mt.tag_category_id,mt.tag_id) s
        </if>
        <if test="p.headquarters != null and  p.headquarters != '' and  p.headquarters == 0">
            (SELECT mt.tag_id,count(mt.movie_id),sum(sm.vv) as vv FROM kpn_movie_tag mt LEFT JOIN  kpn_site_movie sm ON mt.movie_id= sm.movie_id LEFT JOIN kpn_movie m ON sm.movie_id= m.id WHERE sm.status='1' and sm.site_id = #{p.siteId}  GROUP BY mt.tag_category_id,mt.tag_id) s
        </if>
        ON a.id=s.tag_id
        <where>
            1=1
            <if test="p.id != null and  p.id != '' and  p.id != 0">
                and t.id = #{id}
            </if>
            <if test="p.nameZh != null and  p.nameZh != ''">
                and t.name_zh LIKE CONCAT('%',#{p.nameZh},'%')
            </if>
            <if test="p.nameEn != null and  p.nameEn != ''">
                and t.name_en LIKE CONCAT('%',#{p.nameEn},'%')
            </if>
            <if test="p.nameKh != null and  p.nameKh != ''">
                and t.name_kh LIKE CONCAT('%',#{p.nameKh},'%')
            </if>

        </where>
    </select>
</mapper>